.invoice-wrapper {
    width: 210mm;
    padding: 15pt;
    font-family: Arial, sans-serif;
    color: #333;
    border: 0.75pt solid black;
    position: relative;
    overflow: hidden;
    height: 297mm;
}

.invoice-background {
    position: absolute;
}

.rect-top-1 {
    width: 125mm;
    height: 6mm;
    top: 41mm;
    left: 110mm;
    background: rgb(245, 160, 33);
    position: absolute;
    rotate: -5deg;
    z-index: 1;
    border-top-left-radius: 300mm;
    border-bottom-left-radius: 300mm;
    border-right: 10mm;
}

.rect-top-2 {
    left: -7mm;
    width: 265mm;
    height: 50mm;
    top: -17mm;
    background: rgb(245, 160, 33);
    transform: skewX(173deg);
    rotate: -5deg;
    position: absolute;
    z-index: 0;
}

.rect-top-3 {
    width: 119mm;
    height: 3mm;
    top: 31mm;
    left: 137mm;
    background: rgb(48, 64, 126);
    position: absolute;
    rotate: -5deg;
    z-index: 1;
    border-top-left-radius: 300mm;
    border-bottom-left-radius: 300mm;
    border-right: 10mm;
}

.rect-bottom-1 {
    width: 172mm;
    height: 6mm;
    top: 242mm;
    left: -39mm;
    background: rgb(244, 154, 32);
    position: absolute;
    rotate: 175deg;
    z-index: 1;
    border-top-left-radius: 300mm;
    border-bottom-left-radius: 300mm;
    border-right: 10mm;
}

.rect-bottom-2 {
    left: -9mm;
    width: 263mm;
    height: 56mm;
    top: 250mm;
    background: rgb(7, 50, 93);
    transform: skewX(194deg);
    rotate: -4deg;
    position: absolute;
    z-index: 0;
}

.rect-bottom-3 {
    width: 176mm;
    height: 3mm;
    top: 255mm;
    left: -95mm;
    background: rgb(10, 72, 117);
    position: absolute;
    rotate: 175deg;
    z-index: 1;
    border-top-left-radius: 300mm;
    border-bottom-left-radius: 300mm;
    border-right: 10mm;
}

.invoice-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.invoice-title {
    text-align: center;
    font-size: 33pt;
    font-weight: bold;
    left: 5mm;
    color: #2e2164d6;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 10pt;
    flex-wrap: wrap;
    position: relative;
}

.invoice-header .invoice-header-logo {
    height: 25mm;
    margin-left: 5mm;
    width: auto;
}

.invoice-details {
    font-weight: bold;
    margin-left: auto;
    width: 40%;
}

.invoice-company-details {
    width: 100%;
    margin-top: 5mm;
    padding: 5mm;
}

.org-name {
    font-size: 17pt;
    font-weight: bold;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.content-table th {
    border: 0.75pt solid #ddd;
    padding: 6pt;
    position: relative;
    background-color: rgb(253, 164, 0);
}

.content-table td {
    border: 0.75pt solid #ddd;
    padding: 6pt;
    position: relative;
}

.content-header {
    margin: 3.75pt 0;
    position: absolute;
    width: 10mm;
    top: 10mm;
    left: -20mm;
}

.right-align {
    text-align: right;
    position: absolute;
}

.total-amount {
    padding: 2mm 5mm;
}

.invoice-footer {
    padding: 0 5mm;
    text-align: right;
}

.terms {
    color: white;
}

.bank-details {
    padding: 2mm 5mm;
}

.billing-address-section .details-header {
    font-weight: bold;
}

.party-billing-address {
    position: absolute;
    color: black;
    left: 0mm;
    top: 153mm;
}

.shipping-address-section .details-header {
    font-weight: bold;
}

.party-shipping-address {
    position: absolute;
    color: black;
    left: 116mm;
    top: 154mm;
}

.qr {
    width: 40mm;
    height: 40mm;
    position: absolute;
    top: 45mm;
    left: 165mm;
}

/* Form Style */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
}

label {
    font-weight: bold;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Customer */
.customer-details-section {
    width: 100%;
    padding: 5mm;
    display: flex;
}

.items {
    padding: 0 5mm 2mm;
}
